.main-nav {
  position: relative;
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  &__menu {
    display: flex;
    align-items: center;
  }
  &__link {
    padding: 1em;
    @include font(14px, 400);

  }
}