.btn {
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: $col-primary;
  color: $col-white;
  @include font(16px, 600);
  border-radius: 4px;
  padding: 0 2em;
  height: 53px;
  width: fit-content;
  transition:
    color .2s ease-in-out,
    border .2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: $col-black;
    border: 1px solid $col-black;
  }
  &--nav {
    font-weight: 500;
    height: 46px;
  }
  &--rev {
    background-color: transparent;
    border: 1px solid $col-borders;
    color: $col-secondary;
    &:hover {
      border-color: $col-primary;
    }
  }
  &--video {
    position: relative;
    background-color: $col-white;
    color: $col-primary;
    text-decoration: underline;
    &:hover {
      border-color: $col-primary;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(-50%, -50%);
  }
}

.btn + .btn {
  margin: 1em;
}