.post {
  width: 100%;
  max-width: 348px;
  padding-bottom: 40px;
  &__info {
    margin: 25px 0 12px;
    color: $col-brown;
    .post__author {
      font-weight: 700;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 1.42;
    max-width: 294px;
    &--highlight {
      color: $col-primary;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 958px) {
  .post__title {
    @include font(20px, 700);
  }
}

@media (max-width:460px) {
  .post__title {
    @include font(16px, 700);
  }
}