.subscribe-form {
  display: flex;
  flex-direction: column;
  .email-input {
    font: inherit;
    color: $col-black;
    max-width: 325px;
    height: 48px;
    padding: 15px;
    border: 1px solid $col-borders;
    border-radius: 4px;
    margin-bottom: 21px;
    &::placeholder {
      font: inherit;
      color: $col-borders;
    }
  }
}

@media (max-width: 460px) {
  .email-input {
    width: 200px;
  }
}