@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  @include font(16px, 400);
  line-height: 1.625;
  font-family: 'Poppins', sans-serif;
  color: $col-black;
}

.section__title {
  @include font(36px, 700);
  margin-bottom: 22px;
  &--header {
    @include font(44px, 700);
    line-height: 1.23;
  }
  &--feature {
    text-align: center;
    width: 50%;
  }
  &__intro {
    @extend .section__text;
  }
}

.section__subtitle {
  @include font(16px, 600);
  color: $col-black;
  margin-bottom: 12px;
}

.section__text {
  @include font(16px, 400);
  color: $col-brown;
  &--header {
    @include font(18px, 400);
    line-height: 1.55;
  }
  &--superhero {
    color: $col-ternary;
  }
}

.footer__header {
  @include font(20px, 700);
  line-height: 1.5;
  margin-bottom: 35px;
}